/* .navbar  */
.navbar-brand img {
    max-height: 25px;
}

.navbar-icon {
    max-height: 60px;
}

/* grid class: main */
.main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 5px;
  height: 90vh;
  max-width: 100%;
  min-width: 0;
}

header {
    grid-column: 1/7;
    grid-row: 1;
    gap: 5px;
}

.content {
  display: grid;
  grid-column: 2/6;
  grid-row: 3;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 5px;
  height: 90vh;
  max-width: 100%;
  min-width: 0;
}

footer {
    grid-column: 1/7;
    grid-row: 7;
    gap: 5px;
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}

/* .profile_pic  */
.profile_pic img {
  max-height: 200px;
}